/* stylelint-disable-next-line */
@tailwind base;
/* stylelint-disable-next-line */
@tailwind components;
/* stylelint-disable-next-line */
@tailwind utilities;

body {
  background-color: black;
  color: white;
}
